<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="nl.flexkids.imageToGallerySaverPlugin"
    version="1.0.0">

    <name>cordova-save-image-to-gallery</name>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <description>This plugin allows you to save Base64 Data to the iOS Photo Library, or Android Gallery from your app.</description>
    <author>Tommy-Carlos Williams - tommy@devgeeks.org</author>
    <author>Simba Zhang - solderzzc@gmail.com</author>
    <author>Flexkids - info@flexkids.nl</author>
    <keywords>base64,png,save,canvas,image,photo library</keywords>

    <license>MIT</license>

    <js-module src="www/imageToGallerySaver.js" name="ImageToGallerySaverPlugin">
        <clobbers target="cordova.plugins.ImageToGallerySaver" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="imageToGallerySaverPlugin">
                <param name="ios-package" value="imageToGallerySaverPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/imageToGallerySaverPlugin.h" />

        <source-file src="src/ios/imageToGallerySaverPlugin.m"
            compiler-flags="-fno-objc-arc" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="imageToGallerySaverPlugin" >
            <param name="android-package" value="nl.flexkids.imageToGallerySaver.ImageToGallerySaverPlugin"/>
          </feature>
        </config-file>

        <source-file src="src/android/ImageToGallerySaverPlugin.java"
            target-dir="src/nl/flexkids/imageToGallerySaver" />

    </platform>

</plugin>
